<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
    </style>
</head>
<body>
    <h1 style="font-size: 75px;">Welcome!</h1>
    <p><a href="{{ url_for('adminlogin') }}">ADMIN LOGIN</a></p>
    <p><a href="{{ url_for('stafflogin') }}">STAFF LOGIN</a></p>
    <p><a href="{{ url_for('userlogin') }}">USER LOGIN</a></p>
    <p><a href="{{ url_for('userregister') }}">REGISTER</a></p>
</body>
</html>