<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Login</title>
</head>
<body>
    <form action="/stafflogin" method="POST">
        <label>Email address:</label>
        <input type="email" name="email" placeholder="Enter Email address" required><br>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password" required><br>
        <button type="submit">Login</button>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>